html {
  background-color: lightgrey;
}
nav {
	height: 60px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
  border-bottom: 1px solid #737373;
  width: 97.5%;
  margin-left: 15px;
}
nav i {
  color: #ff6666;
}
nav > a {
	color:  black;
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	font-weight: 600;
	left: 25px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 10px;
  padding-left: 10px;
}
nav a:hover,
nav a:focus {
  color: white;
}
a > span {
	font-family: 'Lato', sans-serif;
	color:  #cfc91d;
	text-align: left;
	font-weight: 200;
}
nav ul {
	position: absolute;
	right: 25px;
	top:5px;
}
nav li {
	display: inline-block;
	padding:0 15px;
  font-family: 'Gudea', sans-serif;
}
nav li > a {
	color: black;
	text-decoration: none;
}

nav li > a:hover,
nav li > a:focus {
	color: #fff;
}
header {
  text-align: center;
  margin-top: 85px;
  font-family: 'Gudea', sans-serif;
  font-size: 25px;
}
header span {
  color: #ff6666;
}
header div {
  text-align: center;
  padding-top: 15px;
  font-size: 18px;
}
section.one {
  height: 550px;
}
.div1 img {
  height: 300px;
width: 1332px;
margin: 30px 3px 0 3px;
border-radius: 15px;
}

.div2 {
  width: 45%;
  text-align: center;
  font-size: 23px;
  color: #ff6666;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
  float: left;
}
div p.two {
font-size: 17px;
text-align: left;
color: black;
font-weight: normal;
padding-left: 10px;
font-family: 'Titillium Web', sans-serif;
}
p span {
  color: #ff6666;
}
.div3 {
  width: 45%;
  text-align: center;
  font-size: 23px;
  color: #ff6666;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
  float: right;
}
div p.four {
font-size: 17px;
text-align: left;
color: black;
font-weight: normal;
padding-left: 10px;
font-family: 'Titillium Web', sans-serif;
}
.div4{
margin-top: 25px;
  width: 80%;
  height: 220px;
}
ul {
  padding-left: 45px;
}
li {
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;
  height: auto;
  background-color: lightgrey;
  padding: 10px 28px 28px 10px;

}
li img {
  width: 200px;
  height: 135px;
  border-radius: 15px 15px 0 0;

}

.textbox {
  width: 100%;
  height: 100%;
  position: relative;
  top: -6px;
}
li p {
  font-size: 20px;
  margin: 0 auto;
  background-color: white;
  border-radius: 0 0 15px 15px;
}
div.img4 {
  image-orientation: portrait;
}
div.img1,
div.img2,
div.img3,
div.img4,
div.img5 {
  background-color: lightgrey;

}
div.div4 {
  width: 95%;
  text-align: center;
}
section.textbox {
  text-align: center;
}
section.three {
  background-color: #333333;
  height: 400px;
}
div.div6 {
  	float: left;
  	margin: 3% 0;
  	padding-left: 0px;
  	padding-bottom: 100px;
  	width: 48%;
    margin-top: 0;
  }
  div.div7 {
  	float: left;
  	margin: 0 auto;
  	padding: 0 0 70px 20px;
  	width: 45%;
  }

.three p {
padding: 10px 0 10px 10px;
  font-size: 23px;
  color: #ff6666;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: -4px;
}
input {
width: 100%;
    padding: 12px 20px;
    margin: 8px 0 0 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.message {
width: 100%;
    padding: 12px 20px;
    margin: 8px 0 0 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 140px;
}
div.div7 {
  height: 360px;
}
div.div7 img {
  color:#ff6666;
  background-color: #333333;
  height: 40px;
  width: 40px;
  border-radius: 20px;

}
.icons {
  margin: 150px 0 10px 240px;
 padding: 10px 0 10px 10px;
 float: right;
}
.div7 li{
  background-color: #333333;
  display: inline-block;
}
